/** Google Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,600,400italic,600italic,800);

@font-face {
  font-family: 'icomoon';
  src:  asset-url('icomoon.eot?xrrxwj');
  src:  asset-url('icomoon.eot?xrrxwj#iefix') format('embedded-opentype'),
        asset-url('icomoon.ttf?xrrxwj') format('truetype'),
        asset-url('icomoon.woff?xrrxwj') format('woff'),
        asset-url('icomoon.svg?xrrxwj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tag:before {
  content: "\e900";
}
.icon-tags:before {
  content: "\e905";
}
.icon-circle-cross:before {
  content: "\e906";
}
.icon-circle-plus:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e909";
}
.icon-bell-o:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e904";
}
.icon-bookmark-o:before {
  content: "\e908";
}
.icon-heart-o:before {
  content: "\e902";
}
.icon-heart2:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-bookmark:before {
  content: "\e9d2";
}
