<div data-animation="fadeInUp-fadeOutDown">
  <div class="col-sm-12">
    <div class="post-metadata">
      <%= avatar_for(current_user, size: 40) %>
      <div class="post-info">
        <%= link_to current_user.username, current_user %><br/>
        <small> <%= I18n.t("NewPost") %></small>
      </div>
    </div>
    <%= render 'form', post: @post %>
  </div>
</div>
